{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#fff">
		<meta name="format-detection" content="telephone=no">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
		{# {% include "../partials/_meta-tags.html" %} #}
	</head>
	<body>
		


		<div id="cartContainer" style="text-align: center;">
				<div class="cartName">Корзина</div>
				<div class="cartCounter"></div>
				<div class="cartPrice">
					<span class="cartSumma"></span> руб.
				</div>
				<div class="cartControls">
					<span class="cartOpen" id="checkout">Открыть корзину</span>	
				</div>	
			
				
		</div>
		<div class="popup">
			<div class="popup__controls">
		<span class="popup__controls__close">
		<i class="fa fa-close"></i>
		</span>
		</div>
		<h2>Ваша корзина</h2>
		<div class="popup__content"></div>
		<form action="" method="POST">
			<div class="form_group">
				<div class="contacts">
					<div class="form_group_title">
						<h3>Контактные данные</h3>
					</div>
					<div class="form_group_row">
						<label for="family">Фамилия:</label>
						<input type="text" name="family">
					</div>
					<div class="form_group_row">
						<label for="name">Имя:</label>
						<input type="text" name="name">
					</div>
					<div class="form_group_row">
						<label for="phone">Телефон:</label>
						<input type="text" name="phone">
					</div>
				</div>
				<div class="delivery">
					<div class="form_group_title">
						<h3>Адрес доставки</h3>
					</div>
					<div class="form_group_row">
						<label for="city">Город:</label>
						<select name="city">
							<option value="" disabled="" selected="">Выбирете город</option>
							<option value="ekb">Екатеринбург</option>
							<option value="vp">Верхняя Пышма</option>
							<option value="aram">Арамиль</option>
						</select>
					</div>
					<div class="form_group_row">
						<label for="address">Адрес (улица / дом / квартира):</label>
						<input type="text" name="address">
					</div>
				</div>
			</div>
			<div class="form_group">
				<div class="form_group_row">
					<label for="comment">Комментарий:</label>
					<div><textarea name="comment" placeholder="Ваши пожелания"></textarea></div>
				</div>
			</div>
		</form>
		</div>
		<!-- BEGIN content -->
		<div class="wrapper">
		<!-- begin header -->
			<div class="header">
				<!-- begin header__logo -->
				<div class="header__logo"><a href="/"></a></div>
				<!-- end header__logo -->
				<!-- begin header__title -->
				<div class="header__navigation">
					<nav>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Главная</a></li>
					</nav>
				</div>
				<!-- end header__title -->
				<!-- begin header__contacts -->
				<div class="header__contacts">
					<div class="header__contacts__phone"><i class="fa fa-phone"></i> 8 (909) 700-21-38</div>
					<span>Заказать звонок</span>
				</div>
				<!-- end header__contacts -->
			</div>
		<!-- end header -->
		</div>
		<div class="section">
			<div class="trans_up">
			<div class="trans_diagonal_left" style="height: 50px;">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
					<path d="M 0 0 V 100 L 100 0 Z" style="fill: #FFFFFF;"></path>
				</svg>
			</div>
			</div>
			<div class="section__img">
				<!-- begin section__img-inner -->
				<div class="section__img-inner wrapper">
					
					<p>Качественные тюбинги<br>
					<span>российского производства</span></p>
					
					<p class="garant">Каждый проходит тест на качество.<br> Мы гарантируем вам полную безопасность</p>
					<a href="#">Получить консультацию</a>
				</div>
				<!-- end section__img-inner -->
			</div>
			<div class="trans_down">
				<div class="trans_diagonal_right" style="height: 50px;">
					<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
						<path d="M 0 0 V 100 H 100 Z" style="fill: #FFFFFF;"></path>
					</svg>
				</div>
			</div>
		</div>
		<!-- begin wrapper -->
		<div class="wrapper">
			<h1>Каталог тюбингов</h1>
			<!-- begin section__catalog -->
			<div class="section catalog">
				<!-- begin item_catalog -->
				<div class="catalog__item">
					<!-- begin catalog__item__img -->
					<div class="catalog__item__img product_2">
						<img src="/img/placeholder.jpeg" alt="">
					</div>
					<!-- end catalog__item__img -->
					<!-- begin catalog__item__description -->
					<div class="catalog__item__description">
						<a href="">Тяни-Толкай Тюбинг (Ватрушка) 120 см Сделано в России</a>
					</div>
					<!-- end catalog__item__description -->
					<!-- begin catalog__item__price -->
					<div class="catalog__item__price" data-price="1800">
						1800 Р
					</div>
					<!-- end catalog__item__price -->
					<!-- begin catalog__item__cart -->
					<a class="catalog__item__cart" data-id="2">В корзину</a>
					<!-- end catalog__item__cart -->
				</div>
				<!-- end item_catalog -->
				<!-- begin item_catalog -->
				<div class="catalog__item">
					<!-- begin catalog__item__img -->
					<div class="catalog__item__img product_1">
						<img src="/img/placeholder.jpeg" alt="">
					</div>
					<!-- end catalog__item__img -->
					<!-- begin catalog__item__description -->
					<div class="catalog__item__description">
						<a href="">Тяни-Толкай Тюбинг (Ватрушка) 120 см Сделано в России</a>
					</div>
					<!-- end catalog__item__description -->
					<!-- begin catalog__item__price -->
					<div class="catalog__item__price" data-price="1800">
						1800 Р
					</div>
					<!-- end catalog__item__price -->
					<!-- begin catalog__item__cart -->
					<a class="catalog__item__cart" data-id="1">В корзину</a>
					<!-- end catalog__item__cart -->
				</div>
				<!-- end item_catalog -->
				<!-- begin item_catalog -->
				<div class="catalog__item">
					<!-- begin catalog__item__img -->
					<div class="catalog__item__img product_7">
						<img src="/img/placeholder.jpeg" alt="">
					</div>
					<!-- end catalog__item__img -->
					<!-- begin catalog__item__description -->
					<div class="catalog__item__description">
						<a href="">Тяни-Толкай Тюбинг (Ватрушка) 120 см Сделано в России</a>
					</div>
					<!-- end catalog__item__description -->
					<!-- begin catalog__item__price -->
					<div class="catalog__item__price" data-price="1800">
						1800 Р
					</div>
					<!-- end catalog__item__price -->
					<!-- begin catalog__item__cart -->
					<a class="catalog__item__cart" data-id="7">В корзину</a>
					<!-- end catalog__item__cart -->
				</div>
				<!-- end item_catalog -->
				<!-- begin item_catalog -->
				<div class="catalog__item">
					<!-- begin catalog__item__img -->
					<div class="catalog__item__img product_3">
						<img src="/img/placeholder.jpeg" alt="">
					</div>
					<!-- end catalog__item__img -->
					<!-- begin catalog__item__description -->
					<div class="catalog__item__description">
						<a href="">Тяни-Толкай Тюбинг (Ватрушка) 120 см Сделано в России</a>
					</div>
					<!-- end catalog__item__description -->
					<!-- begin catalog__item__price -->
					<div class="catalog__item__price" data-price="1800">
						1800 Р
					</div>
					<!-- end catalog__item__price -->
					<!-- begin catalog__item__cart -->
					<a class="catalog__item__cart" data-id="3">В корзину</a>
					<!-- end catalog__item__cart -->
				</div>
				<!-- end item_catalog -->
			</div>
			<!-- end section__catalog -->
			<h1>Как выбрать тюбинг?</h1>
			<!-- begin section about -->
			<p>Выбрать тюбинг очень просто! В случаи если вы собираетесь кататься вдвоем, выбирайте диаметр 110-120 см. Они выдерживают достаточно сильную нагрузку порядка 120-130 кг. Ниже приведена простая таблица соответствий роста и диаметра, это вам поможет сделать правильный выбор тюбинга для катания.</p>
			<div class="section about" style="text-align: center; padding-bottom: 15px">

				<img src="/img/vibor.png" alt="">
			</div>
			<h1>О тюбингах</h1>
			<!-- begin section about -->
			<div class="section about">
				<!-- begin about__item -->
				<div class="about__item">
					<img src="/img/quality.png" alt="">
					<div>Высокое качество плотного материала верха и низа чехла тюбинга.</div>
				</div>
				<!-- end about__item -->
				<!-- begin about__item -->
				<div class="about__item">
					<img src="/img/delivery.png" alt="">
					<div>Быстрая доставка по Екатеринбургу и ближайшим городам.</div>
				</div>
				<!-- end about__item -->
				<!-- begin about__item -->
				<div class="about__item">
					<img src="/img/price.png" alt="">
					<div>Низкая цена и постоянные акции.</div>
				</div>
				<!-- end about__item -->
				<!-- begin about__item -->
				<div class="about__item">
					<img src="/img/palitra.png" alt="">
					<div>У нас самая широкая палитра цветов тюбингов.</div>
				</div>
				<!-- end about__item -->
			</div>
			<!-- end section about -->
			<h1>Акция</h1>
			<div class="section special">
				<!-- begin special__description -->
				<div class="special__description">
					<div class="special__description__text">
						<strong>Успей купить до нового года и получить подарок iPhone 7</strong>
						<p>Покупая тюбинг вы получаете возможность выиграть iPhone 7. Розыгрыш будет осуществлен <u>31 декабря 2017 года</u></p>
						<br>
						Что нужно сделать?
						<ul>
							<li>1) Совершить покупку и сохранять номер заказа до 31 декабря</li>
							<li>2) Сделать репост записи в нашей группе Вконтакте</li>
							<li>3) И остается только дождаться Нового года!</li>
						</ul>
					</div>
					<div class="special__description__photo">
						<img src="/img/aip7.png" alt="">
					</div>
				</div>
				<!-- end special__description -->

				<div class="special__timer" style="margin-bottom: 40px;">
					До Нового Года осталось
					<script src="http://megatimer.ru/s/79c84899732d13e6f8495a16e29e7673.js"></script>
				</div>
			</div>

			<h1>Отзывы</h1>
			<div class="section reviews">
				<div class="reviews__slide">
					<div class="reviews__slide__item">
						<div class="reviews__slide__item__img">
							<img src="/img/test.jpg" alt="">
						</div>
						<div class="reviews__slide__item__text">
							<span>Денис Иванченко</span>
							<p>Отличные тюбинги, приобрел в подарок сыну на новый год. Просил доставить до дома, чтобы сын не заметил подарок. Спасибо вам ребята! И вас тоже с наступающим Новым Годом!</p>
							<div class="reviews__slide__item__data">12.12.2017</div>
						</div>
					</div>
					<div class="reviews__slide__item">
						<div class="reviews__slide__item__img">
							<img src="/img/zaharov.png" alt="">
						</div>
						<div class="reviews__slide__item__text">
							<span>Иван Захаров</span>
							<p>Пользуюсь вашим тюбингом уже 2 недели, скатывались с горы Уктус, Волчиха все круто! Очень прочные оказались)) Планируем привязать его к машине и погонять на нем (позже отпишусь что из этого вышло). А так огромное спасибо!</p>
							<div class="reviews__slide__item__data">12.12.2017</div>
						</div>
					</div>
					<div class="reviews__slide__item">
						<div class="reviews__slide__item__img">
							<img src="/img/natalia.jpg" alt="">
						</div>
						<div class="reviews__slide__item__text">
							<span>Наталья Маклакова</span>
							<p>Покупала для дочки ватрушку, главной дилемой был выбор расцветки хотелось и то и то и сразу все))) Но ребята помогли сделать выбор, в итоге купила с сердечками, очень рада что нашла ваш магазин! Буду советовать подругам, новый год как никак, подарки нужны всем!</p>
							<div class="reviews__slide__item__data">12.12.2017</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end wrapper -->
		<footer>
			<!-- begin wrapper -->
			<div class="wrapper">
				asdasdasd
			</div>
			<!-- end wrapper -->
		</footer>
		<!-- END content -->
		<!-- BEGIN scripts -->
		<script type="text/javascript" src="js/build.js"></script>
		<!-- END scripts -->

	</body>
</html>
